node_modules
release/*
!release/support.exe
!release/support-service.exe
!release/HatchConnect-Setup.exe
agent/*
!agent/keepsystemawake
agent/keepsystemawake/*
!agent/keepsystemawake/keepsystemawake.exe
!agent/keepsystemawake/offkeepsystemawake.exe
build
*.zip
*.iss
cloudflared.exe
test-*.js
build-*.js
make-icon.js
.git
.gitignore
data
